div
  input(type="text" ng-model="id")
  div(class="btn-group")
    button(ng-repeat="scale in scalesList" ng-click="setResolution(scale)" ng-class="scales[scale].condition ? 'active': 'passive'") {{scales[scale].name}}
  div
    div(id="overview" style="margin-left:0px;margin-top:20px;width:1200px;height:50px")
    div(id="chart-n" style="width:1200px;height:300px" ng-right-click="zoomOut()")
    div(id="tooltip-n")
  div
    div(id="chart-meanStddev" style="width:1200px;height:300px" ng-right-click="zoomOut()")
    div(id="tooltip-meanStddev")
  div
    div(id="chart-max" style="width:1200px;height:300px" ng-right-click="zoomOut()")
    div(id="tooltip-max")
  div
    div(id="chart-min" style="width:1200px;height:300px" ng-right-click="zoomOut()")
    div(id="tooltip-min")